
@{
  ViewBag.Title = "Главная страница";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-9">
  <h2>Список</h2>
  <ol type="A">
    @for (int i = 1; i < 5; i++) {
      <li>Элемент @i списка</li>
    }
  </ol>
  <hr />
  <h2>Форма</h2>
  @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { @class = "form-gorizontal" })) {
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <label>
          @Html.CheckBox("cBox1") Чек-бокс 1 
        </label>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <label>
          @Html.CheckBox("cBox2") Чек-бокс 2
        </label>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <label>
          @Html.RadioButton("rButton", 1, true) Радио-1
        </label>
        <label>
          @Html.RadioButton("rButton", 2, true) Радио-2
        </label>
      </div>
    </div>
    <div class="form-group">
      <label for="name" class="col-md-2 control-label">Логин:</label>
      <div class="col-md-10">
        @Html.TextBox("login", null, new { @class="form-control", placeholder="Введите логин" })
      </div>
    </div>
    <div class="form-group">
      <label for="pass" class="col-md-2 control-label">Пароль:</label>
      <div class="col-md-10">
        @Html.Password("password", null, new { @class = "form-control", placeholder = "Введите пароль" })
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <button type="submit" class="btn btn-info">Отправить</button>
      </div>
    </div>
  }
</div>